* {
  padding: 0;
  margin: 0;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;

  /* Describing Global Variables */
  background-color: #fffbf5;
  color: #03251c;
  --whiteColor: #ffffff;
  --greenColor: #03251c;
  --heroLayerGreen: #011a11c7;
  --navBarGreen: #03130db3;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #fffbf5;
}

::-webkit-scrollbar-track {
  background-color: var(--greenColor);
}

.lato {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.tangerine {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.large {
  font-size: 68px;
}

.medium {
  font-size: 24px;
}

.small {
  font-size: 16px;
}

.fs-24px {
  font-size: 22px;
}

.fs-28px {
  font-size: 28px;
}

.fs-18px {
  font-size: 18px;
}

.fs-32px {
  font-size: 32px;
}

.gap-4px {
  gap: 4px;
}

.gap-12px {
  gap: 12px;
}

.gap-18px {
  gap: 18px;
}

.gap-24px {
  gap: 24px;
}

.gap-36px {
  gap: 36px;
}

.gap-48px {
  gap: 48px;
}

.gap-60px {
  gap: 60px;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.vcenter {
  align-items: center;
}

.both-center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.align-self-center {
  align-self: center;
}

#hero {
  height: 100svh;
  background-image: url(./Assets/OtherImages/SVG_Hero_Background.svg);
  background-size: cover;
}

#navbar {
  background-color: var(--navBarGreen);
  padding: 6px 12px;
  position: sticky;
}

#Solidnavbar {
  background-color: #03120d;
  padding: 6px 12px;
  position: sticky;
}

#logoContainer {
  gap: 6px;
  align-items: center;
}

.logo {
  width: 48px;
  height: 48px;
}

.logoText {
  color: var(--whiteColor);
  font-size: 36px;
}

#menuContainer {
  gap: 8px;
}

.noMobile {
  display: flex;
}

.Mobile {
  display: none;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.navBtn {
  font-size: 12px;
  font-weight: 400;
  border-radius: 16px;
  padding: 8px 16px;
}

.darkBtn {
  background-color: var(--greenColor);
  color: var(--whiteColor);
  border: 1px solid var(--whiteColor);
}

.lightBtn {
  background-color: var(--whiteColor);
  color: var(--greenColor);
  border: 1px solid var(--whiteColor);
}

.menuItem {
  color: var(--whiteColor);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menuItem:hover {
  border-bottom: 1px solid var(--whiteColor);
}

#heroMiddle {
  flex: 1;
  background-color: var(--heroLayerGreen);
  color: var(--whiteColor);
  text-align: center;
}

#heroMiddle_Two {
  width: 60%;
  font-weight: 400;
}

.heroBtn {
  padding: 12px 24px;
  border-radius: 24px;
}

#heroFooter {
  background-color: var(--whiteColor);
  color: var(--greenColor);
  padding: 12px 6px;
  border: 1px solid var(--greenColor);
  scroll-behavior: smooth;
  white-space: nowrap;
  overflow-x: hidden;
}

.eventNameBox {
  flex: 0 0 auto;
}

.scrollTrack {
  animation: scrollLeft 20s linear infinite;
}

#heroFooter:hover .scrollTrack {
  animation-play-state: paused;
}

.darkCircle {
  background-color: var(--greenColor);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.section {
  margin: 24px 0;
  padding: 12px 48px;
}

#imageContainer {
  flex: 1;
  padding: 36px 0 48px 0;
}

#textContainer {
  flex-basis: 47%;
  text-align: justify;
  color: var(--greenColor);
}

.normalBtn {
  padding: 12px 24px;
  border-radius: 6px;
  border: none;
}

.gaptext {
  line-height: 26px;
  font-weight: 400;
}

.imageBox {
  height: 70svh;
  width: 32%;
  border-radius: 24px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  border: 1px solid var(--greenColor);
}

#imageBox2 {
  transform: translateY(48px);
  background-image: url(./Assets/OtherImages/SVG_About_2.svg);
  background-size: cover;
  background-position: center center;
}

#imageBox1 {
  background-image: url(./Assets/OtherImages/SVG_About_1.svg);
  background-size: cover;
  background-position: center center;
}

.smallSvg {
  width: 45px;
  height: 45px;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--greenColor);
  color: var(--whiteColor);
  padding: 12px;
  border-radius: 50%;
  border: 1px solid var(--whiteColor);
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  display: none;
  z-index: 999;
}

#fact {
  background-color: var(--greenColor);
  margin: 72px 0;
  color: var(--whiteColor);
  overflow: hidden;
}

.logoText {
  position: relative;
  top: 3px;
}

.numberBox {
  text-align: center;
}

.bgLogoBox img {
  height: 180px;
  opacity: 0.1;
}

#bgLogo1 {
  transform: translateX(-50%);
}

#bgLogo2 {
  transform: translateX(49%);
}

#noContainer {
  flex: 1;
  padding: 24px 0;
}

.serviceCard {
  width: 45%;
  border-radius: 18px;
  filter: drop-shadow(0px 0px 4px rgba(0, 4px, 4px, 0.2));
  background-color: var(--whiteColor);
  border: 1px solid var(--greenColor);
}

#topImageBox {
  width: 100%;
  height: 180px;
  border: 1px solid var(--greenColor);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}

#topImageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}

.textBox {
  padding: 12px 24px 36px 24px;
}

.serviceDescription {
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  line-height: 24px;
}

#testimonials {
  margin: 48px 0;
  background-color: var(--greenColor);
  color: var(--whiteColor);
}

.titleSection {
  padding: 24px;
}

#testimonialCardContainer {
  overflow-x: auto;
  padding: 24px 12px;
  scroll-snap-type: x mandatory;
}

.testimonialCard {
  flex: 0 0 30svw;
  min-width: 300px;
  text-align: center;
  border: 1px solid var(--whiteColor);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
  padding: 24px 12px;
  background-color: rgba(255, 255, 255, 0.07);
  user-select: none;
  scroll-snap-align: start;
}

.testimonialName {
  font-weight: 400;
  margin-top: 8px;
  font-size: 14px;
}

.testimonialDescription {
  font-weight: 400;
  font-size: 15px;
  margin: 12px 0;
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--greenColor);
}

.fullBtn {
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.darkBorder {
  border: 1px solid var(--greenColor);
}

.fullBtn i {
  font-size: 24px;
}

#separator img {
  height: 60%;
}

#contactRight {
  flex: 1;
}

#mapBox {
  flex: 1;
  border: 2px solid var(--greenColor);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

#adressbox {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

#adressbox i {
  margin: 0 12px;
  font-size: 24px;
}

#listSection {
  padding-right: 24px;
  flex-wrap: wrap;
}

input[type="radio"] {
  cursor: pointer;
}

label {
  font-weight: 400;
  font-size: 18px;
}

#all {
  accent-color: rgb(0, 0, 38);
}

#veg {
  accent-color: var(--greenColor);
}

#nonveg {
  accent-color: rgb(100, 0, 0);
}

#label_all {
  color: rgb(0, 0, 38);
}

#label_veg {
  color: var(--greenColor);
}

#label_non_veg {
  color: rgb(100, 0, 0);
}

.menuCategory {
  padding: 12px 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menuCategory:hover {
  background-color: rgba(3, 37, 28, 0.9);
  color: var(--whiteColor);
}

.menuCategoryActive {
  background-color: var(--greenColor);
  color: var(--whiteColor);
  padding: 12px 6px;
  border-radius: 4px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.itemCard {
  width: 135px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid var(--greenColor);
}

.itemImage {
  height: 115px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid var(--greenColor);
}

#kachori .itemCard:nth-of-type(1) .itemImage {
  background: url(./Assets/MenuItems/Images/RADHA\ VALLABHI.jpg);
  background-position: center center;
  background-size: cover;
}

#kachori .itemCard:nth-of-type(2) .itemImage {
  background: url(./Assets/MenuItems/Images/SATTU\ KACHORI.jpg);
  background-position: center center;
  background-size: cover;
}

#kachori .itemCard:nth-of-type(3) .itemImage {
  background: url(./Assets/MenuItems/Images/DAL\ KACHORI.jpg);
  background-position: center center;
  background-size: cover;
}

#kachori .itemCard:nth-of-type(4) .itemImage {
  background: url(./Assets/MenuItems/Images/CLUB\ KACHORI.jpg);
  background-position: center center;
  background-size: cover;
}

#kachori .itemCard:nth-of-type(5) .itemImage {
  background: url(./Assets/MenuItems/Images/MASALA\ KACHORI.jpg);
  background-position: center center;
  background-size: cover;
}

#kachori .itemCard:nth-of-type(6) .itemImage {
  background: url(./Assets/MenuItems/Images/BEDMI\ PURI.jpg);
  background-position: center center;
  background-size: cover;
}

#kachori .itemCard:nth-of-type(7) .itemImage {
  background: url(./Assets/MenuItems/Images/LUCCHI\ PURI.jpg);
  background-position: center center;
  background-size: cover;
}

#roti .itemCard:nth-of-type(1) .itemImage {
  background: url(./Assets/MenuItems/Images/TAWA\ ROTI.jpeg);
  background-position: center center;
  background-size: cover;
}

#roti .itemCard:nth-of-type(2) .itemImage {
  background: url(./Assets/MenuItems/Images/MISSI\ ROTI.jpg);
  background-position: center center;
  background-size: cover;
}
#roti .itemCard:nth-of-type(3) .itemImage {
  background: url(./Assets/MenuItems/Images/PLAIN\ PARATHA.jpeg);
  background-position: center center;
  background-size: cover;
}
#roti .itemCard:nth-of-type(4) .itemImage {
  background: url(./Assets/MenuItems/Images/ALOO\ \ PARATHA.jpg);
  background-position: center center;
  background-size: cover;
}
#roti .itemCard:nth-of-type(5) .itemImage {
  background: url(./Assets/MenuItems/Images/PANEER\ PARATHA.jpg);
  background-position: center center;
  background-size: cover;
}
#roti .itemCard:nth-of-type(6) .itemImage {
  background: url(./Assets/MenuItems/Images/SATTU\ PARATHA.jpeg);
  background-position: center center;
  background-size: cover;
}
#roti .itemCard:nth-of-type(7) .itemImage {
  background: url(./Assets/MenuItems/Images/GOBHI\ PARATHA.jpg);
  background-position: center center;
  background-size: cover;
}
#roti .itemCard:nth-of-type(8) .itemImage {
  background: url(./Assets/MenuItems/Images/VEG\ PARATHA.jpg);
  background-position: center center;
  background-size: cover;
}
#roti .itemCard:nth-of-type(9) .itemImage {
  background: url(./Assets/MenuItems/Images/ONION\ PARATHA.jpg);
  background-position: center center;
  background-size: cover;
}
#roti .itemCard:nth-of-type(10) .itemImage {
  background: url(./Assets/MenuItems/Images/BAJRA\ ROTI.jpg);
  background-position: center center;
  background-size: cover;
}
#roti .itemCard:nth-of-type(11) .itemImage {
  background: url(./Assets/MenuItems/Images/MAKKA\ ROTI.jpg);
  background-position: center center;
  background-size: cover;
}
#roti .itemCard:nth-of-type(12) .itemImage {
  background: url(./Assets/MenuItems/Images/PURAN\ POLI.jpg);
  background-position: center center;
  background-size: cover;
}

#tandooritems .itemCard:nth-of-type(1) .itemImage {
  background: url(./Assets/MenuItems/Images/TANDOORI\ ROTI.jpg);
  background-position: center center;
  background-size: cover;
}

#tandooritems .itemCard:nth-of-type(2) .itemImage {
  background: url(./Assets/MenuItems/Images/TANDOORI\ MISSI\ ROTI.jpeg);
  background-position: center center;
  background-size: cover;
}
#tandooritems .itemCard:nth-of-type(3) .itemImage {
  background: url(./Assets/MenuItems/Images/BUTTER\ NAAN.jpg);
  background-position: center center;
  background-size: cover;
}
#tandooritems .itemCard:nth-of-type(4) .itemImage {
  background: url(./Assets/MenuItems/Images/MASALA\ KULCHA.jpg);
  background-position: center center;
  background-size: cover;
}
#tandooritems .itemCard:nth-of-type(5) .itemImage {
  background: url(./Assets/MenuItems/Images/ONION\ KULCHA.jpg);
  background-position: center center;
  background-size: cover;
}
#tandooritems .itemCard:nth-of-type(6) .itemImage {
  background: url(./Assets/MenuItems/Images/AMRITSARI\ CHUR-CHUR\ NAAN.jpg);
  background-position: center center;
  background-size: cover;
}

#rice .itemCard:nth-of-type(1) .itemImage {
  background: url(./Assets/MenuItems/Images/PLAIN\ RICE.jpg);
  background-position: center center;
  background-size: cover;
}
#rice .itemCard:nth-of-type(2) .itemImage {
  background: url(./Assets/MenuItems/Images/VEG\ PULAO.jpg);
  background-position: center center;
  background-size: cover;
}
#rice .itemCard:nth-of-type(3) .itemImage {
  background: url(./Assets/MenuItems/Images/JEERA\ RICE.jpg);
  background-position: center center;
  background-size: cover;
}
#rice .itemCard:nth-of-type(4) .itemImage {
  background: url(./Assets/MenuItems/Images/NAVRATNA\ PULAO.jpg);
  background-position: center center;
  background-size: cover;
}
#rice .itemCard:nth-of-type(5) .itemImage {
  background: url(./Assets/MenuItems/Images/VEG\ BIRYANI.jpg);
  background-position: center center;
  background-size: cover;
}

#paneergravy .itemCard:nth-of-type(1) .itemImage {
  background: url(./Assets/MenuItems/Images/PANEER\ DO\ PYAJA.jpg);
  background-position: center center;
  background-size: cover;
}
#paneergravy .itemCard:nth-of-type(2) .itemImage {
  background: url(./Assets/MenuItems/Images/PALAK\ PANEER.jpg);
  background-position: center center;
  background-size: cover;
}
#paneergravy .itemCard:nth-of-type(3) .itemImage {
  background: url(./Assets/MenuItems/Images/MATAR\ PANEER.jpg);
  background-position: center center;
  background-size: cover;
}
#paneergravy .itemCard:nth-of-type(4) .itemImage {
  background: url(./Assets/MenuItems/Images/PANEER\ BUTTER\ MASALA.jpg);
  background-position: center center;
  background-size: cover;
}
#paneergravy .itemCard:nth-of-type(5) .itemImage {
  background: url(./Assets/MenuItems/Images/SHAHI\ PANNER.jpg);
  background-position: center center;
  background-size: cover;
}
#paneergravy .itemCard:nth-of-type(6) .itemImage {
  background: url(./Assets/MenuItems/Images/KADHAI\ PANEER.jpg);
  background-position: center center;
  background-size: cover;
}
#paneergravy .itemCard:nth-of-type(7) .itemImage {
  background: url(./Assets/MenuItems/Images/PANEER\ 65.jpg);
  background-position: center center;
  background-size: cover;
}
#paneergravy .itemCard:nth-of-type(8) .itemImage {
  background: url(./Assets/MenuItems/Images/HYDERABADI\ PANEER.jpg);
  background-position: center center;
  background-size: cover;
}
#paneergravy .itemCard:nth-of-type(9) .itemImage {
  background: url(./Assets/MenuItems/Images/KASHMIRI\ PANEER.jpg);
  background-position: center center;
  background-size: cover;
}
#paneergravy .itemCard:nth-of-type(10) .itemImage {
  background: url(./Assets/MenuItems/Images/PANEER\ LABABDAR.jpg);
  background-position: center center;
  background-size: cover;
}
#paneergravy .itemCard:nth-of-type(11) .itemImage {
  background: url(./Assets/MenuItems/Images/PANEER\ PASANDA.jpg);
  background-position: center center;
  background-size: cover;
}
#paneergravy .itemCard:nth-of-type(12) .itemImage {
  background: url(./Assets/MenuItems/Images/DRAGON\ PANEER.jpg);
  background-position: center center;
  background-size: cover;
}

.itemImage {
  background-position: center center;
  background-size: cover;
}

#alooitems .itemCard:nth-of-type(1) .itemImage {
  background-image: url("./Assets/MenuItems/Images/JEERA%20ALOO.jpg");
}
#alooitems .itemCard:nth-of-type(2) .itemImage {
  background-image: url("./Assets/MenuItems/Images/ACHARI%20ALOO.jpg");
}
#alooitems .itemCard:nth-of-type(3) .itemImage {
  background-image: url("./Assets/MenuItems/Images/ALOO%20DO%20PYAJA.jpg");
}
#alooitems .itemCard:nth-of-type(4) .itemImage {
  background-image: url("./Assets/MenuItems/Images/ALOO%20JHALDAR.jpg");
}
#alooitems .itemCard:nth-of-type(5) .itemImage {
  background-image: url("./Assets/MenuItems/Images/KASHMIRI%20ALOO%20DUM.jpg");
}
#alooitems .itemCard:nth-of-type(6) .itemImage {
  background-image: url("./Assets/MenuItems/Images/BANARASI%20ALOO%20DUM.jpg");
}
#alooitems .itemCard:nth-of-type(7) .itemImage {
  background-image: url("./Assets/MenuItems/Images/BABY%20ALOO%20DUM.jpg");
}
#alooitems .itemCard:nth-of-type(8) .itemImage {
  background-image: url("./Assets/MenuItems/Images/ALOO%20FULGOBHI.jpg");
}
#alooitems .itemCard:nth-of-type(9) .itemImage {
  background-image: url("./Assets/MenuItems/Images/ALOO%20METHI.jpg");
}

#kofta .itemCard:nth-of-type(1) .itemImage {
  background-image: url("./Assets/MenuItems/Images/METHI%20MALAI%20MATAR.jpg");
}
#kofta .itemCard:nth-of-type(2) .itemImage {
  background-image: url("./Assets/MenuItems/Images/NAVRATNA%20KORMA.jpg");
}
#kofta .itemCard:nth-of-type(3) .itemImage {
  background-image: url("./Assets/MenuItems/Images/VEG%20KOFTA.jpg");
}
#kofta .itemCard:nth-of-type(4) .itemImage {
  background-image: url("./Assets/MenuItems/Images/MALAI%20KOFTA.jpg");
}
#kofta .itemCard:nth-of-type(5) .itemImage {
  background-image: url("./Assets/MenuItems/Images/LOCKEY%20KOFTA.jpg");
}

#drysabji .itemCard:nth-of-type(1) .itemImage {
  background-image: url("./Assets/MenuItems/Images/BHINDI%20MASALA.jpg");
}
#drysabji .itemCard:nth-of-type(2) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PARWAL%20MASALA.jpg");
}
#drysabji .itemCard:nth-of-type(3) .itemImage {
  background-image: url("./Assets/MenuItems/Images/FULGOBHI%20MATAR.jpg");
}
#drysabji .itemCard:nth-of-type(4) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PATTA\ GOBHI\ MATAR.jpg");
}
#drysabji .itemCard:nth-of-type(5) .itemImage {
  background-image: url("./Assets/MenuItems/Images/BHINDI\ DO\ PYAJAA.jpg");
}

#dal .itemCard:nth-of-type(1) .itemImage {
  background-image: url("./Assets/MenuItems/Images/YELLOW%20DAL.jpg");
}
#dal .itemCard:nth-of-type(2) .itemImage {
  background-image: url("./Assets/MenuItems/Images/DAL%20FRY.jpg");
}
#dal .itemCard:nth-of-type(3) .itemImage {
  background-image: url("./Assets/MenuItems/Images/DAL%20MAKHANI.jpg");
}
#dal .itemCard:nth-of-type(4) .itemImage {
  background-image: url("./Assets/MenuItems/Images/CHANA%20DAL%20TADKA.jpg");
}
#dal .itemCard:nth-of-type(5) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PUNJABI%20TADKA.jpg");
}
#dal .itemCard:nth-of-type(6) .itemImage {
  background-image: url("./Assets/MenuItems/Images/JODHPURI%20DAL%20CHANGEZI.jpg");
}

#kadhi .itemCard:nth-of-type(1) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PAKODI%20KADHI.jpg");
}
#kadhi .itemCard:nth-of-type(2) .itemImage {
  background-image: url("./Assets/MenuItems/Images/MANGODI%20KADHI.jpg");
}
#kadhi .itemCard:nth-of-type(3) .itemImage {
  background-image: url("./Assets/MenuItems/Images/RASGULLA\ KADHI.jpeg");
}
#kadhi .itemCard:nth-of-type(4) .itemImage {
  background-image: url("./Assets/MenuItems/Images/FOGLA%20KADHI.jpg");
}

#southindian .itemCard:nth-of-type(1) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PLAIN%20DOSA.jpg");
}
#southindian .itemCard:nth-of-type(2) .itemImage {
  background-image: url("./Assets/MenuItems/Images/MASALA%20DOSA.jpg");
}
#southindian .itemCard:nth-of-type(3) .itemImage {
  background-image: url("./Assets/MenuItems/Images/ONION%20DOSA.jpg");
}
#southindian .itemCard:nth-of-type(4) .itemImage {
  background-image: url("./Assets/MenuItems/Images/MYSORE%20DOSA.jpg");
}
#southindian .itemCard:nth-of-type(5) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PANEER%20DOSA.jpg");
}
#southindian .itemCard:nth-of-type(6) .itemImage {
  background-image: url("./Assets/MenuItems/Images/RAWA%20DOSA.jpg");
}
#southindian .itemCard:nth-of-type(7) .itemImage {
  background-image: url("./Assets/MenuItems/Images/IDLI.jpg");
}
#southindian .itemCard:nth-of-type(8) .itemImage {
  background-image: url("./Assets/MenuItems/Images/MINI%20IDLI.jpg");
}
#southindian .itemCard:nth-of-type(9) .itemImage {
  background-image: url("./Assets/MenuItems/Images/FRIED\ IDLI\ .jpg");
}
#southindian .itemCard:nth-of-type(10) .itemImage {
  background-image: url("./Assets/MenuItems/Images/MEDU%20VADA.jpg");
}
#southindian .itemCard:nth-of-type(11) .itemImage {
  background-image: url("./Assets/MenuItems/Images/UPMA.jpg");
}
#southindian .itemCard:nth-of-type(12) .itemImage {
  background-image: url("./Assets/MenuItems/Images/VEG%20UTTAPAM.jpg");
}
#southindian .itemCard:nth-of-type(13) .itemImage {
  background-image: url("./Assets/MenuItems/Images/ONION%20UTTAPAM.jpg");
}

#chaat .itemCard:nth-of-type(1) .itemImage {
  background-image: url("./Assets/MenuItems/Images/ALOO\ TIKKI\ CHHOLA\ CHAAT.jpg");
}
#chaat .itemCard:nth-of-type(2) .itemImage {
  background-image: url("./Assets/MenuItems/Images/DELHI ALOO TIKKI CHAAT.jpg");
}
#chaat .itemCard:nth-of-type(3) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PAPDI\ CHHOLA\ CHAAT.jpg");
}
#chaat .itemCard:nth-of-type(4) .itemImage {
  background-image: url("./Assets/MenuItems/Images/DAHI BHALLA PAPDI CHAAT.jpg");
}
#chaat .itemCard:nth-of-type(5) .itemImage {
  background-image: url("./Assets/MenuItems/Images/MOTH\ KACHORI\ CHAAT\ .jpg");
}
#chaat .itemCard:nth-of-type(6) .itemImage {
  background-image: url("./Assets/MenuItems/Images/RAJ\ KACHORI\ CHAAT\ .jpg");
}
#chaat .itemCard:nth-of-type(7) .itemImage {
  background-image: url("./Assets/MenuItems/Images/SAMOSA\ CHAAT\ .jpg");
}
#chaat .itemCard:nth-of-type(8) .itemImage {
  background-image: url("./Assets/MenuItems/Images/KADHI KACHORI.jpg");
}
#chaat .itemCard:nth-of-type(9) .itemImage {
  background-image: url("./Assets/MenuItems/Images/BANARASI\ ALOO\ CHAAAT.jpg");
}
#chaat .itemCard:nth-of-type(10) .itemImage {
  background-image: url("./Assets/MenuItems/Images/BANARASI TOMATO CHAAT.jpg");
}

#snack .itemCard:nth-of-type(1) .itemImage {
  background-image: url("./Assets/MenuItems/Images/DAHI BHALLA.jpg");
}
#snack .itemCard:nth-of-type(2) .itemImage {
  background-image: url("./Assets/MenuItems/Images/DAHI BADA.jpg");
}
#snack .itemCard:nth-of-type(3) .itemImage {
  background-image: url("./Assets/MenuItems/Images/KANJI BADA.jpg");
}
#snack .itemCard:nth-of-type(4) .itemImage {
  background-image: url("./Assets/MenuItems/Images/GUJIA BADA.jpg");
}
#snack .itemCard:nth-of-type(5) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PANIPURI.jpg");
}
#snack .itemCard:nth-of-type(6) .itemImage {
  background-image: url("./Assets/MenuItems/Images/SEVPURI.jpg");
}
#snack .itemCard:nth-of-type(7) .itemImage {
  background-image: url("./Assets/MenuItems/Images/BATATA\ PURI.jpg");
}
#snack .itemCard:nth-of-type(8) .itemImage {
  background-image: url("./Assets/MenuItems/Images/BHELPURI.jpg");
}
#snack .itemCard:nth-of-type(9) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PANEER CHILLA ROLL.jpg");
}
#snack .itemCard:nth-of-type(10) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PANEER TIKKA.jpg");
}
#snack .itemCard:nth-of-type(11) .itemImage {
  background-image: url("./Assets/MenuItems/Images/SAMOSA.jpg");
}
#snack .itemCard:nth-of-type(12) .itemImage {
  background-image: url("./Assets/MenuItems/Images/VEG CUTLET.jpg");
}
#snack .itemCard:nth-of-type(13) .itemImage {
  background-image: url("./Assets/MenuItems/Images/JHAL BADA.jpg");
}
#snack .itemCard:nth-of-type(14) .itemImage {
  background-image: url("./Assets/MenuItems/Images/ALOO\ CHUP.jpg");
}
#snack .itemCard:nth-of-type(15) .itemImage {
  background-image: url("./Assets/MenuItems/Images/VEG PAKODA.jpg");
}
#snack .itemCard:nth-of-type(16) .itemImage {
  background-image: url("./Assets/MenuItems/Images/ONION PAKODA.jpg");
}
#snack .itemCard:nth-of-type(17) .itemImage {
  background-image: url("./Assets/MenuItems/Images/VADA PAW.jpg");
}
#snack .itemCard:nth-of-type(18) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PAV\ BHAJI.jpg");
}
#snack .itemCard:nth-of-type(19) .itemImage {
  background-image: url("./Assets/MenuItems/Images/DHOKLA.jpg");
}
#snack .itemCard:nth-of-type(20) .itemImage {
  background-image: url("./Assets/MenuItems/Images/KHANDWI.jpg");
}
#snack .itemCard:nth-of-type(21) .itemImage {
  background-image: url("./Assets/MenuItems/Images/LITTI CHOKHA.jpg");
}

#continentalsnacks .itemCard:nth-of-type(1) .itemImage {
  background-image: url("./Assets/MenuItems/Images/HAKKA NOODLES.jpg");
}
#continentalsnacks .itemCard:nth-of-type(2) .itemImage {
  background-image: url("./Assets/MenuItems/Images/VEG MANCHURIAN.jpg");
}
#continentalsnacks .itemCard:nth-of-type(3) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PANEER CHILLY.jpg");
}
#continentalsnacks .itemCard:nth-of-type(4) .itemImage {
  background-image: url("./Assets/MenuItems/Images/MOMOS.jpg");
}
#continentalsnacks .itemCard:nth-of-type(5) .itemImage {
  background-image: url("./Assets/MenuItems/Images/BURGER.jpg");
}
#continentalsnacks .itemCard:nth-of-type(6) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PIZZA.jpg");
}
#continentalsnacks .itemCard:nth-of-type(7) .itemImage {
  background-image: url("./Assets/MenuItems/Images/PASTA.jpg");
}
#continentalsnacks .itemCard:nth-of-type(8) .itemImage {
  background-image: url("./Assets/MenuItems/Images/SWEET CORN CHAAT.jpg");
}
#continentalsnacks .itemCard:nth-of-type(9) .itemImage {
  background-image: url("./Assets/MenuItems/Images/SPRING ROLL.jpg");
}
#continentalsnacks .itemCard:nth-of-type(10) .itemImage {
  background-image: url("./Assets/MenuItems/Images/FRENCH FRIES.jpg");
}
#continentalsnacks .itemCard:nth-of-type(11) .itemImage {
  background-image: url("./Assets/MenuItems/Images/SANDWICH.jpg");
}
#continentalsnacks .itemCard:nth-of-type(12) .itemImage {
  background-image: url("./Assets/MenuItems/Images/HONEY CHILLI POTATO.jpg");
}

.itemTitleContianer {
  flex: none;
  height: auto;
  padding: 8px 4px;
}

.itemTitle {
  text-align: center;
}

.itemCard .medium {
  font-size: 12px;
}

.itemContainer {
  flex: 1;
  row-gap: 12px !important;
  column-gap: 36px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
}

#mapBox iframe {
  width: 100%;
}

#categoryBox {
  flex-wrap: wrap;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .noMobile {
    display: none;
  }
  .small {
    font-size: 12px;
  }
  .medium {
    font-size: 16px;
  }
  .large {
    font-size: 36px;
  }
  .fs-24px {
    font-size: 18px;
  }
  .mobilecolumn {
    flex-direction: column;
  }
  .numberBox .large {
    font-size: 27px;
  }
  .numberBox .medium {
    font-size: 18px;
  }
  #noContainer {
    gap: 36px;
  }
  #serviceCardContainer {
    gap: 36px;
  }
  .serviceCard {
    width: 90%;
  }
  .itemContainer {
    justify-content: center;
  }

  .menuCategory,
  .menuCategoryActive {
    font-size: 14px;
  }

  #categoryBox {
    justify-content: center;
    gap: 8px;
  }

  .itemCard{
    width: 100px;
  }
  .itemImage{
    height: 75px;
  }

  .itemCard .medium{
    font-size: 10px;
  }
}
